@import "./style.scss";

.pingme {
  &-response-container {
    margin-bottom: 50px;
  }
  &-layout-container {
    padding-top: 50px;
    .form-control:disabled,
    .form-control[readonly] {
      background-color: $white;
    }
  }
  &-curl-container__col {
    display: flex;
    justify-content: flex-end;
    margin: 10px;
  }
  &-send-btn {
    &__col {
      display: flex;
      justify-content: flex-end;
    }
    min-width: 200px;
  }
  &-input-dropdown {
    background-color: $white;
  }
  &-tab-data {
    background: $white;
    padding: 10px;
    margin: 15px;
    .tab-content {
      .active.show {
        .container:first-child {
          max-height: 190px;
          overflow: auto;
        }
      }
    }
  }
  &-key-value {
    &__row {
      margin: 10px;
      .pingme-img-container {
        display: flex;
        justify-content: left;
        align-items: center;

        width: 50px;
        img {
          cursor: pointer;
          width: 30px;
          height: 30px;
        }
      }
    }
    &__btn-container {
      display: flex;
      justify-content: flex-end;
      margin: 10px 20px;
      button {
        min-width: 100px;
      }
    }
  }
}

.modal-body {
  .container {
    .close-button-container {
      .col {
        display: flex;
        justify-content: flex-end;
        .close-button {
          display: inline-block;
          cursor: pointer;
        }
      }
    }
    .row.text-area-container {
      textarea {
        margin: 10px 0px;
        min-height: 200px;
      }
    }
    .row.import-curl-btn-container {
      .col {
        display: flex;
        justify-content: flex-end;
      }
    }
    .row {
      .error-message {
        color: red;
      }
    }
  }
}
